div.contenedor{
width: 100%;
display: flex;
justify-content: space-around;
}

div.contendor_form{
    width: 38%;
    padding: 3%;
}

div.contenedor_list{
    padding: 3%;
    width: 62%;
    display: flex;
    justify-content: center;
    height: 100%;
}

div.boton {
    display: flex;
    justify-content: space-around;
    
}

div.imagen{
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
